{% extends 'base.html' %}

{% block script %}
$(document).ready(function() {
    $("#comments").DataTable({
        "order": [[ 0, "desc" ]]
    });
});
{% endblock %}

{% block content %}
    <h2>Search for Internal Comments by a CSR</h2>
    <form action="." method="get" class="form-inline" id="search">
        <input type="text" name="q"{% if query %} value="{{ query }}"{% endif %} placeholder="Partial name of CSR" class="form-control" id="searchInput">
        <button type="submit" class="btn btn-default">Search</button>
    </form>
    {% if query %}
    <h1>{{ comments|length }} ticket comments found:</h1>
    <table id="comments" class="results">
        <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Action Date</th>
                <th>Action Type</th>
                <th>Comment</th>
                <th>Character Count</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Ticket ID</th>
                <th>Action Date</th>
                <th>Action Type</th>
                <th>Comment</th>
                <th>Character Count</th>
            </tr>
        </tfoot>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td><a href="{% url 'ticket_detail' pk=comment.ticket_id %}">{{ comment.ticket_id }}</a></td>
                <td>{{ comment.action_date }}</td>
                <td>{{ comment.action_name }}</td>
                <td>{{ comment.comments|truncatechars:30|safe }}</td>
                <td>{{ comment.comments|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
