{% extends 'base.html' %}

{% block title %}CSR {{ csr }}{% endblock %}

{% block content %}
<h1>{{ csr }}</h1>
<ul>
    <li>Tickets solved: {{ solved_count }}</li>
    <li>Tickets commented on: {{ commented_count }}</li>
    <li>Tickets touched: {{ touched_count }}</li>
    <li>Oldest ticket action date: {{ oldest_action.action_date }} (<a href="{% url 'comment_detail' pk=oldest_action.pk %}">link</a>)</li>
    <li>Newest ticket action date: {{ newest_action.action_date }} (<a href="{% url 'comment_detail' pk=newest_action.pk %}">link</a>)</li>
</ul>

<div id="ticket_histogram">
    <style>
    rect.bar {
		fill: steelblue;
	}
	rect.bar:hover {
		fill: purple;
	}
	.d3-tip {
	  line-height: 1;
	  font-weight: bold;
	  padding: 12px;
	  background: rgba(0, 0, 0, 0.8);
	  color: #fff;
	  border-radius: 2px;
	}

	/* Creates a small triangle extender for the tooltip */
	.d3-tip:after {
	  box-sizing: border-box;
	  display: inline;
	  font-size: 10px;
	  width: 100%;
	  line-height: 1;
	  color: rgba(0, 0, 0, 0.8);
	  content: "\25BC";
	  position: absolute;
	  text-align: center;
	}

	/* Style northward tooltips differently */
	.d3-tip.n:after {
	  margin: -1px 0 0 0;
	  top: 100%;
	  left: 0;
	}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        /*
        Date format is number of seconds since the Unix Epoch
        */
        var ticket_dates = [
            {% for created_date in ticket_created_dates %}
            {date_string: "{{ created_date|date:"U" }}"},
            {% endfor %}
            ]

        // https://bl.ocks.org/d3noob/96b74d0bd6d11427dd797892551a103c
        var window_width = document.getElementsByClassName("content")[0].clientWidth
        var margin = {top: 10, right: 30, bottom: 30, left: 40},
            width = window_width - margin.left - margin.right,
            height = 200 - margin.top - margin.bottom

        // http://devdocs.io/d3~4/d3-time-format#timeParse
        var parseDate = d3.timeParse("%s")
        
        // set the ranges, from the beginning of Parature history to today
        var x = d3.scaleTime()
                    .domain([new Date(2008, 1, 1), new Date()])
                    .rangeRound([0, width])
        var y = d3.scaleLinear()
                    .range([height, 0])
 
        // set the parameters for the histogram
        var histogram = d3.histogram()
            .value(function(d) { return d.date })
            .domain(x.domain())
            .thresholds(x.ticks(d3.timeMonth))

        // append the title for this visualization
        // append the svg object to this div
        // append a 'group' element to the 'svg'
        // moves the 'group' element to the top left margin
        var title = d3.select('div#ticket_histogram').append('h3').text('Histogram of Tickets Solved (based on ticket creation date)')
        var svg = d3.select('div#ticket_histogram').append('svg')
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
            .append("g")
                .attr("transform",
                        "translate(" + margin.left + "," + margin.top + ")")

		var format_tooltip_date = d3.timeFormat("%b %Y")

		var tip = d3.tip()
		  .attr('class', 'd3-tip')
		  .offset([-10, 0])
		  .html(function(d) {
			return format_tooltip_date(d.x0) + "<br /><strong>Tickets:</strong> <span style='color:red'>" + d.length + "</span>";
		  })

		svg.call(tip)

        ticket_dates.forEach(function(d) {
            d.date = parseDate(d.date_string)
        })

        var bins = histogram(ticket_dates)
        
        y.domain([0, d3.max(bins, function(d) { return d.length })])

        // append the bar rectangles to the svg element
        svg.selectAll("rect")
                .data(bins)
            .enter().append("rect")
                .attr("class", "bar")
                .attr("x", 1)
                .attr("transform", function(d) {
                            return "translate(" + x(d.x0) + "," + y(d.length) + ")" })
                .attr("width", function(d) { return x(d.x1) - x(d.x0) - 1 })
                .attr("height", function(d) { return height - y(d.length) })
				.on("mouseover", tip.show)
				.on("mouseout", tip.hide)

        // add the x Axis
        svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x))
        
        // add the y Axis
        svg.append("g")
                .call(d3.axisLeft(y))
    </script>
</div>

<h3>Tickets Solved</h3>
<table class="table table-hover">
    <thead>
        <th>Ticket ID</th>
        <th>Summary</th>
        <th>Date Created</th>
        <th>Customer</th>
    </thead>
    <tfoot>
        <th>Ticket ID</th>
        <th>Summary</th>
        <th>Date Created</th>
        <th>Customer</th>
    </tfoot>
    <tbody>
        {% for ticket in tickets_solved %}
        <tr>
            <td><a href="{{ ticket.get_absolute_url }}">{{ ticket.ticketid }}</a></td>
            <td>{{ ticket.summary }}</td>
            <td>{{ ticket.datecreated }}</td>
            <td><a href="{{ ticket.customerid.get_absolute_url }}">{{ ticket.customerid.first_name }} {{ ticket.customerid.last_name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if tickets_solved.has_previous %}
        <a href="?page={{ tickets_solved.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ tickets_solved.number }} of {{ tickets_solved.paginator.num_pages }}.
        </span>

        {% if tickets_solved.has_next %}
        <a href="?page={{ tickets_solved.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
