{% extends 'base.html' %}

{% block content %}
<h1>{{ csr }}</h1>
<ul>
    <li>Tickets solved: {{ solved_count }}</li>
    <li>Tickets commented on: {{ commented_count }}</li>
    <li>Tickets touched: {{ touched_count }}</li>
    <li>Oldest ticket action date: {{ oldest_action.action_date }} (<a href="{% url 'comment_detail' pk=oldest_action.pk %}">link</a>)</li>
    <li>Newest ticket action date: {{ newest_action.action_date }} (<a href="{% url 'comment_detail' pk=newest_action.pk %}">link</a>)</li>
</ul>
{% endblock %}
