{% extends 'base.html' %}
{% load jsonify %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="customer">
        <h3>Customer Details</h3>
        <table id="customer_details" class="table table-condensed table-hover table-bordered">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ customer.first_name }} {{ customer.last_name }}</td>
                </tr>
                <tr>
                    <td>NetID</td>
                    <td>{{ customer.netid }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ customer.email }}</td>
                </tr>
                <tr>
                    <td>SLA</td>
                    <td>{{ customer.service_level_agreement }}</td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>{{ customer.department }}</td>
                </tr>
                <tr>
                    <td>Total KIS Time Consumed (hours)</td>
                    <td>{{ customer.total_time_consumed }}</td>
                </tr>
            </tbody>
        </table>
        <div class="original-data">{{ customer|jsonify }}</div>
    </div>
    <div class="customer-tickets">
        <form action="." method="get" class="form-inline" id="search">
            <ul class="list-inline">
                <li><input type="text" name="q"{% if q %} value="{{ q }}"{% endif %} placeholder="{% if q %}{{ q }}{% endif %}" class="form-control"></li>
                <li><button type="submit" class="btn btn-default">Search</li>
            </ul>
        </form>
        {% if q %}
        <h3>{{ tickets|length }} tickets found matching query '{{ q }}'</h3>
        {% else %}
        <h3>{{ tickets|length }} total tickets</h3>
        {% endif %}
        <table id="tickets" class="table table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Created</th>
                    <th>Summary</th>
                    <th>Assigned To</th>
                    <th>Hours Spent</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Created</th>
                    <th>Summary</th>
                    <th>Assigned To</th>
                    <th>Hours Spent</th>
                </tr>
            </tfoot>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ ticket.ticketid }}</td>
                    <td>{{ ticket.datecreated }}</td>
                    <td><a href="{% url 'ticket_detail' pk=ticket.pk %}">{{ ticket.summary }}</a></td>
                    <td><a href="{% url 'csr_detail' csr=ticket.assignedto %}">{{ ticket.assignedto }}</a></td>
                    <td>{{ ticket.hoursspent }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
