{% extends 'base.html' %}
{% load jsonify %}

{% block content %}
    <div class="customer">
        <h1>Customer:</h1>
        <pre>{{ customer|jsonify }}</pre>
    </div>
    <div class="customer-tickets">
        <h1>Tickets:</h2>
        <table id="tickets">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Created</th>
                    <th>Summary</th>
                    <th>Assigned To</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Created</th>
                    <th>Summary</th>
                    <th>Assigned To</th>
                </tr>
            </tfoot>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.ticketid }}</td>
                    <td>{{ ticket.datecreated }}</td>
                    <td><a href="{% url 'ticket_detail' pk=ticket.pk %}">{{ ticket.summary }}</a></td>
                    <td>{{ ticket.assignedto }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
