{% extends 'base.html' %}
{% load jsonify %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="customer">
        <h3>Customer Details</h3>
        <table class="table table-condensed table-hover table-bordered">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ customer.first_name }} {{ customer.last_name }}</td>
                </tr>
                <tr>
                    <td>NetID</td>
                    <td>{{ customer.netid }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ customer.email }}</td>
                </tr>
                <tr>
                    <td>SLA</td>
                    <td>{{ customer.service_level_agreement }}</td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>{{ customer.department }}</td>
                </tr>
            </tbody>
        </table>
        <div class="original-data">{{ customer|jsonify }}</div>
    </div>
    <div class="customer-tickets">
        <h3>Tickets ({{ tickets|length }})</h3>
        <table id="tickets" class="table table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Created</th>
                    <th>Summary</th>
                    <th>Assigned To</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Created</th>
                    <th>Summary</th>
                    <th>Assigned To</th>
                </tr>
            </tfoot>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ ticket.ticketid }}</td>
                    <td>{{ ticket.datecreated }}</td>
                    <td><a href="{% url 'ticket_detail' pk=ticket.pk %}">{{ ticket.summary }}</a></td>
                    <td><a href="{% url 'csr_detail' csr=ticket.assignedto %}">{{ ticket.assignedto }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
