{% extends 'base.html' %}
{% load jsonify %}

{% block content %}
    <div class="ticket">
            <h3>Customer: <a href="{{ ticket.customerid.get_absolute_url }}">{{ ticket.customerid.first_name }} {{ ticket.customerid.last_name }}</a></h3>
        <div>
            <h3>Ticket Details</h3>
            <h4>Ticket ID: <a href="https://s3.parature.com/link/desk/5525/5563/Ticket/{{ ticket.ticketid }}">{{ ticket.ticketid }}</a> (Parature link)</h4>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#details">Toggle Details</button>
            <div id="details" class="collapse">
                <pre>{{ ticket|jsonify }}</pre>
            </div>
        </div>
        <div>
            <h3>Ticket Comments</h3>
            <ol>
        {% for history_item in ticket.tickethistory_set.all %}
        <li>
            <h4>{{ history_item.action_date }}: {{ history_item.action_name }} performed by {{ history_item.performed_by_csr }}</h4>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#comment{{ forloop.counter }}">Toggle Details</button>
            <div id="comment{{ forloop.counter }}" class="collapse">
                <pre>{{ history_item|jsonify }}</pre>
            </div>
        </li>
        {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
