{% extends 'base.html' %}
{% load jsonify %}

{% block content %}
    <div class="ticket">
        <div>
            <h3>Customer Info</h3>
            <pre>{{ ticket.customerid|jsonify }}</pre>
        </div>
        <div>
            <h3>Ticket Details</h3>
            <pre>{{ ticket|jsonify }}</pre>
        </div>
        <div>
            <h3>Ticket Comments</h3>
            <ol>
        {% for history_item in ticket.tickethistory_set.all %}
        <li>
            <pre>{{ history_item|jsonify }}</pre>
        </li>
        {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
