{% extends 'base.html' %}
{% load jsonify %}

{% block content %}
    <div class="ticket">
        <div>
            <h3>Customer Info</h3>
            <pre>{{ ticket.customerid|jsonify }}</pre>
        </div>
        <div>
            <h3>Ticket Details</h3>
            <ul>
                <li>Ticket ID: <a href="https://s3.parature.com/link/desk/5525/5563/Ticket/{{ ticket.ticketid }}" target="_blank">Parature Ticket Link - {{ ticket.ticketid }} (opens in new tab)</a></li>
                <li>Date created: {{ ticket.datecreated }}</li>
                <li>Date updated: {{ ticket.dateupdated }}</li>
                <li>Summary: {{ ticket.summary }}</li>
                <li>Details: <br />{{ ticket.details|safe }}</li>
                <li>Solution: {{ ticket.solution|safe }}</li>
            </ul>
        </div>
        <div>
            <h3>Ticket Comments</h3>
            <ol>
        {% for history_item in ticket.tickethistory_set.all %}
        <li>
        <ul>
            <li>Action date: {{ history_item.action_date }}</li>
            <li>Action name: {{ history_item.action_name }}</li>
            <li>Assigned to CSR: {{ history_item.assigned_to_csr }}</li>
            <li>Performed by CSR: {{ history_item.performed_by_csr }}</li>
            <li>Time spent (hours): {{ history_item.time_spent }}</li>
            <li>Comments: <br />{{ history_item.comments|safe }}</li>
        </ul>
        </li>
        {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
