body {
    font-family: 'Ubuntu Mono', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Rubik';
}

h1 a {
    color: #FCA205;
    font-family: 'Rubik';
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
    margin-right: 40px;
}

.date-created, .date-updated {
    color: #828282;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.ticket h1 a, .ticket h1 a:visited {
    color: #000000;
}

form#search input[type=text] {
    height: 50px !important;
    font-size: 30pt !important;
    width: 50% !important;
}

button {
    height: 50px;
    width: 10%;
}

pre {
    white-space: pre-line;
    word-break: keep-all;
}

div.customer div.input-group {
    float: left !important;
}

div.customer-tickets {
    clear: both;
    padding-top: 30px;
}
