{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="{% static 'css/parature.css' %}">
        <style>
        {% block style %}
        {% endblock %}
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript">
            {% block script %}
            {% endblock %}
        </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Parature History Search</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/search">Search Tickets</a></li>
                    <li><a href="{% url 'customer_search' %}">Search Customers</a></li>
                    <li><a href="{% url 'csr_list' %}">List CSRs</a></li>
                    <li><a href="{% url 'my_history' %}">My History</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/tothebeat/parature-search" target="_blank"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i>
                        </a></li>
                </ul>
            </div>
        </nav>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
