{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/parature.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <style>
        {% block style %}
        {% endblock %}
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#tickets').DataTable( {
                    "order": [[ 0, "desc" ]],
                    "lengthMenu": [[-1, 50], ["All", 50]]
                } );
                $('#customers').DataTable( {
                    "order": [[ 0, "desc" ]]
                } );
            });
            {% block script %}
            {% endblock %}
        </script>
    </head>
    <body>
        <div class="page-header">
            <h1>
                <a href="{% url 'ticket_search' %}">Search Tickets</a>
            </h1>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
